# Application
APP_NAME=Learner API
DEBUG=True

# Database - Local Development
DATABASE_URL=postgresql+psycopg://dineshkota@localhost/learner

# Database - Render Deployment
# Uncomment and configure these for Render deployment
# DATABASE_URL=postgresql+psycopg://dinesh:YOUR_PASSWORD@dpg-d8li8ht8nd3s73e5aul0-a/language_database

# PostgreSQL (for reference, can be used to build DATABASE_URL)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=dineshkota
POSTGRES_PASSWORD=
POSTGRES_DB=learner
